@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}

<html>
	<head>
		
	</head>
	<body>
		<h1>
			@Model.CompanyName
		</h1>
	</body>
</html>